@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --mono-font: 'Space Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  padding: 0 2rem;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
}

.name-typography {
  height: 2rem;
  align-self: center;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  height: auto;
  overflow: auto;
  margin-bottom: 0.5rem;
  scroll-snap-type: x mandatory;
  align-items: flex-start;
}

*::-webkit-scrollbar {
  display: none;
}

.carousel-img {
  display: inline-block;
  width: 100%;
  scroll-snap-align: center;
  scroll-snap-stop: always;
}

.logo-wrapper {
  max-width: 5rem;
}

.logo-img {
  max-width: 5rem;
  display: inline;
  margin: 1rem 0;
  align-self: center;
}

.heading-h1 {
  display: flex;
  text-align: right;
  align-items: center;
  font-family: var(--mono-font);
}

.about-wrapper {
  display: none;
}

.container {
  width: 100%;
}

.collapse-btn-wrapper {
  margin-top: 1rem;
}

button.accordion {
  display: flex;
  width: 100%;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  outline: none;
  text-align: left;
  padding: 0.9rem 1.25rem;
  font-size: 1.125rem;
  font-family: var(--mono-font);
  color: #444;
  cursor: pointer;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-right: 0.1rem solid black;
  transition: linear 0.2s;
}

.container:first-of-type > button.accordion:after {
  display: flex;
  content: '<- click me';
  font-size: 14px;
  transition: linear 0.2s;
}

a.contact-link:last-of-type > button.contact-button {
  border-right: 0.1rem solid black;
}

.container:last-of-type > button.accordion {
  border-bottom: 0.1rem solid black;
}

button.accordion.is-open:after {
  display: flex;
  content: 'scroll that way ->' !important;
  font-size: 14px;
  transition: linear 0.2s;
}

button.accordion.is-open {
  background-color: black;
  color: white;

  transition: linear 0.2s;
}
button.accordion:hover {
  background-color: black;
  color: white;
  transition: linear 0.2s;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  scroll-snap-type: x mandatory;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-button {
  color: black;
  background-color: white;
  border-top: 0.1rem solid black;
  border-left: 0.1rem solid black;
  border-bottom: 0.1rem solid black;

  font-family: var(--mono-font);
  padding: 1rem;
  width: calc((100vw - 4rem) / 3);

  font-size: 1rem;
}

.contact-button:hover {
  background-color: black;
  color: white;
  transition: linear 0.2s;
  cursor: pointer;
}

.medium-wrapper,
.heading-h2 {
  display: none;
}

@media screen and (max-width: 30rem) {
  body {
    padding: 0 1rem;
  }

  .logo-img {
    width: 80%;
  }

  .heading-h1 {
    font-size: 1.4rem;
  }

  button.accordion.is-open:after {
    font-size: 10px;
  }

  .container:first-of-type > button.accordion:after {
    font-size: 10px;
  }

  .contact-button {
    width: calc((100vw - 2rem) / 3);
  }
}

@media screen and (min-width: 37.188rem) {
  body {
    padding: 1rem;
  }

  .page-wrapper {
    max-height: 100vh;
  }

  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .heading-h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    justify-content: end;
  }

  .about-wrapper {
    display: flex;

    align-items: flex-end;
  }
  .about-h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-family: var(--mono-font);
  }

  .h2-wrapper {
    padding-right: 1rem;
  }

  .heading-h2 {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: var(--mono-font);
    text-align: right;
    border-bottom: 0.1rem solid black;
    padding: 0.9rem 0;

    font-size: 1rem;
  }

  .logo-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 30vw;
  }
  .logo-img {
    width: 100%;
    max-width: 10rem;
  }

  .top-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5rem;
  }

  .header-wrapper {
    flex-direction: column;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
  }

  .contact-wrapper {
    flex-direction: column;
    justify-content: start;
    margin-top: 0.5rem;
    height: 100%;
    padding: 0 1rem;
    border-right: 0.1rem solid black;
  }

  .contact-button {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a.contact-link:last-of-type > button.contact-button {
    border-right: none;
  }

  a.contact-link:last-of-type > button.contact-button {
    border-bottom: none;
  }

  a.contact-link:nth-of-type(1) > .contact-button::before {
    content: 'phone';
  }
  a.contact-link:nth-of-type(2) > .contact-button::before {
    content: 'email';
  }
  a.contact-link:nth-of-type(3) > .contact-button::before {
    content: 'github';
  }

  .collapse-btn-wrapper {
    display: none;
  }

  .medium-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    height: 75vh;
    overflow: auto;
    scroll-snap-type: y mandatory;
  }

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--mono-font);
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: black;
    color: white;
    padding: 0.9rem;
    font-size: 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .container-med:nth-child(even) > .title {
    border-left: none;
  }

  .container-med:first-of-type > .title::after {
    content: '↓ scroll down';
    font-size: 12px;
  }

  .carousel-wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .container-med {
    scroll-snap-align: start;
    margin-left: 0.5rem;
  }
}
@media screen and (min-width: 45.688rem) {
  .heading-h1,
  .about-h2 {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 60rem) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
  }
}
@media screen and (min-width: 80rem) {
}
@media screen and (min-width: 100rem) {
}
