---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Carousel from '../components/Carousel.astro';
import CollapseBtn from '../components/CollapseBtn.astro';
import CollapseBtnMed from '../components/CollapseBtnMed.astro';
import Contact from '../components/Contact.astro';
import About from '../components/About.astro';
---

<head>
  <link rel='stylesheet' href='./style.css' />
</head>

<div class='page-wrapper'>
  <div class='top-content'>
    <Header
      title='cody derbyshire'
      logo='https://i.ibb.co/j6wZ0vp/CD-logo-black.png'
      href='https://codyderbyshire.com/'
    />
    <About />
  </div>

  <div class='content-wrapper'>
    <div class='sidebar'>
      <div class='h2-wrapper'>
        <h2 class='heading-h2'>I love to design</h2>
      </div>

      <Contact
        number='+64220725530'
        email='derbyshire@outlook.co.nz'
        github='https://github.com/Cody-Derbyshire'
      />
    </div>
    <div class='collapse-btn-wrapper'>
      <CollapseBtn
        title='furniture'
        items={[
          'https://i.ibb.co/6Wt7rYH/layouts-armchair.webp',
          'https://i.ibb.co/TwZHRnF/layouts-bedsidetable.webp',
          'https://i.ibb.co/Fs0tb96/layouts-couch.webp',
          'https://i.ibb.co/ZmSK9yB/layouts-plamp.webp',
          'https://i.ibb.co/829k3Rh/layouts-recordstand.webp',
        ]}
      />
      <CollapseBtn
        title='graphics'
        items={[
          'https://i.ibb.co/JH0kSKS/layouts-scale1.webp',
          'https://i.ibb.co/W0HTQkh/layouts-scale2.webp',
          'https://i.ibb.co/mDstTxv/layouts-personalbrand.webp',
          'https://i.ibb.co/NY5LsXy/layouts-eptgraphics.webp',
          'https://i.ibb.co/LkPRJsS/layouts-eva.webp',
          'https://i.ibb.co/sgzJLYz/layouts-fwd.webp',
          'https://i.ibb.co/KKPQ6k7/layouts-grace.webp',
          'https://i.ibb.co/L6KXd3W/layouts-wedding.webp',
          'https://i.ibb.co/ccCP6Z4/layouts-manifest.webp',
        ]}
      />
      <CollapseBtn
        title='3d'
        items={[
          'https://i.ibb.co/3Cm2J5c/layouts-dumbpad.webp',
          'https://i.ibb.co/Jvzvjws/layouts-dumbpad1.webp',
          'https://i.ibb.co/MhVcmtS/layouts-walker1.webp',
          'https://i.ibb.co/FJcxxkJ/layouts-walker2.webp',
        ]}
      />
      <CollapseBtn
        title='motion'
        items={[
          'https://i.ibb.co/cFkvzFW/UI-GIF-1.gif',
          'https://i.ibb.co/0mBSZcS/stylized-gif-SHARPER.gif',
          'https://i.ibb.co/XJLcrZW/walker2-v1.gif',
          'https://i.ibb.co/47SDD5t/meta-gif-off.gif',
        ]}
      />
      <CollapseBtn
        title='costume'
        items={[
          'https://i.ibb.co/R3vmSgg/layouts-recycle.webp',
          'https://i.ibb.co/cDJq7LK/layouts-eptcostume.webp',
        ]}
      />
    </div>

    <!-- medium-wrapper hidden when screen < 35rem -->

    <div class='medium-wrapper'>
      <CollapseBtnMed
        title='furniture'
        items={[
          'https://i.ibb.co/6Wt7rYH/layouts-armchair.webp',
          'https://i.ibb.co/TwZHRnF/layouts-bedsidetable.webp',
          'https://i.ibb.co/Fs0tb96/layouts-couch.webp',
          'https://i.ibb.co/ZmSK9yB/layouts-plamp.webp',
          'https://i.ibb.co/829k3Rh/layouts-recordstand.webp',
        ]}
      />
      <CollapseBtnMed
        title='graphics'
        items={[
          'https://i.ibb.co/JH0kSKS/layouts-scale1.webp',
          'https://i.ibb.co/W0HTQkh/layouts-scale2.webp',
          'https://i.ibb.co/mDstTxv/layouts-personalbrand.webp',
          'https://i.ibb.co/NY5LsXy/layouts-eptgraphics.webp',
          'https://i.ibb.co/LkPRJsS/layouts-eva.webp',
          'https://i.ibb.co/sgzJLYz/layouts-fwd.webp',
          'https://i.ibb.co/KKPQ6k7/layouts-grace.webp',
          'https://i.ibb.co/L6KXd3W/layouts-wedding.webp',
          'https://i.ibb.co/ccCP6Z4/layouts-manifest.webp',
        ]}
      />
      <CollapseBtnMed
        title='3d'
        items={[
          'https://i.ibb.co/3Cm2J5c/layouts-dumbpad.webp',
          'https://i.ibb.co/Jvzvjws/layouts-dumbpad1.webp',
          'https://i.ibb.co/MhVcmtS/layouts-walker1.webp',
          'https://i.ibb.co/FJcxxkJ/layouts-walker2.webp',
        ]}
      />
      <CollapseBtnMed
        title='motion'
        items={[
          'https://i.ibb.co/cFkvzFW/UI-GIF-1.gif',
          'https://i.ibb.co/0mBSZcS/stylized-gif-SHARPER.gif',
          'https://i.ibb.co/XJLcrZW/walker2-v1.gif',
          'https://i.ibb.co/47SDD5t/meta-gif-off.gif',
        ]}
      />
      <CollapseBtnMed
        title='costume'
        items={[
          'https://i.ibb.co/R3vmSgg/layouts-recycle.webp',
          'https://i.ibb.co/cDJq7LK/layouts-eptcostume.webp',
        ]}
      />
    </div>
  </div>
</div>

<Layout title='cody derbyshire' />
