---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

---
<head>
	<link rel="stylesheet" href="/assets/style.css" />
</head>

	<Layout title="cody derbyshire">
		<main>
			<h1>cody derbyshire</h1>
		</main>
	
	</Layout>
	<Card title="hmu" body="yo yo yo" href="">
		</Card>



